header#main-header {
    background: #FFF;
    border-bottom: 1px solid #DDD;
    height: 72px;
}

header#main-header .header-content {
    align-items: center;
    display: flex;
    height: 72px;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 980px;
    padding: 0 30px;
    width: 100%;
}